*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

*.txt linguist-language=Text
*.txt linguist-detectable=true

*.shortcut linguist-language=Apple Shortcuts
